/*Меню*/  	
.nav-menu {
	color: #989898;
	font-size: 16px;
	font-family: OpenSans;
	display: flex;	
	justify-content: flex-end;
} 
.nav-menu ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	
.nav-menu li {
	padding: 7px 30px 0 0px;
}
.nav-menu li:last-child {
	padding-right: 73px;
}

.nav-menu  a{
    text-decoration: none;
	color: inherit;
} 
.nav-menu  a:hover {
    text-decoration: none;
	color: #99c50a;
} 

/*медиазапрос при уменьшении ширины до 970 px и меньше*/

@media screen and (max-width: 970px) {
.nav-menu {
	color: #989898;
	font-size: 13px;
	font-family: OpenSans-Semibold;
	display: flex;	
	justify-content: center;
} 
.nav-menu ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left:-40px;
}
	
.nav-menu li {
	padding: 0px 5px 0 0px;
}
.nav-menu li:last-child {
	padding-right: 0;
}

.nav-menu  a{
    text-decoration: none;
	color: inherit;
} 
.nav-menu  a:hover {
    text-decoration: none;
	color: #99c50a;
}
} 